<section class="request-main">
  <p-card [style]="{ width: '100%' }">
    <ng-template pTemplate="header">
      <div class="header-elements">
        <div class="header-title">
          <!-- <h3>{{'REQUEST_DETAILS.TITLE' | translate}}</h3> -->
          <h2>{{ headerTitle }}</h2>
        </div>
        <div class="header-options">
          <p-dropdown
            [options]="typeOfRequest"
            [showClear]="true"
            [(ngModel)]="selectedRequest"
            placeholder="Select a State"
            optionLabel="name"
            (onChange)="filterData($event)"
          />
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              [(ngModel)]="inputSearcher"
              placeholder="Insert word"
            />
          </span>
        </div>
      </div>
    </ng-template>

    <!-- <section class="request-content"> -->
    <ng-template pTemplate="content">
      <requests-table [searchTable]="inputSearcher" />
    </ng-template>
    <!-- </section> -->

    <ng-template pTemplate="footer">
      <!-- <p-button label="Save" icon="pi pi-check"></p-button>
      <p-button
        label="Cancel"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"
      ></p-button> -->
    </ng-template>
  </p-card>
</section>
