.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.custom-marker {
  width: var(--w-marker);
  height: var(--h-marker);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-circle);
}

.checked {
  color: var(--bg-color-primary);
  background-color: var(--bg-color-darker);
}

.workingIn {
  border: 3px solid var(--bg-color-darker);
  background-color: var(--bg-color-primary);

  .pi-circle-fill {
    color: var(--bg-color-darker);
  }
}

.wait {
  border: 3px solid var(--bg-color-dark);
  color: var(--bg-color-dark);
  background-color: var(--bg-color-primary);
}

.pi-circle-fill {
  color: var(--bg-color-primary);
}

::ng-deep .p-timeline-left .p-timeline-event-opposite {
  display: none;
}

::ng-deep .p-timeline.p-timeline-vertical .p-timeline-event-content {
  min-height: 100px;
}

.request-title {
  font-size: var(--font-size-lg);
  color: var(--font-color-primary);
  font-weight: bold;
}

.request-date {
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--font-color-secondary);
}

.request-details {
  margin: 5px 0;
  font-size: var(--font-size-md);
}
