<div class="request-container">
  <form class="form" [formGroup]="requestFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-general">
      <div class="left">
        <label for="">Project Name</label>
        <input type="text" pInputText formControlName="projectName" />
      </div>
      <div class="right">
        <label for="">Request Date</label>
        <input type="text" pInputText formControlName="requestDate" />
      </div>
    </div>

    <p-divider />
    <div class="form-section" *ngFor="let section of FORM_SECTIONS">
      <div class="section-title">
        <h2 class="title">{{ section.sectionName }}</h2>
      </div>

      <div class="form-section-container" *ngIf="!section.isTable">
        <div
          class="section-input"
          *ngFor="let input of section.inputs"
          [ngSwitch]="input.type"
        >
          <div *ngSwitchCase="'textarea'">
            <label class="input-text" for="text">{{ input.label }}</label>
            <textarea
              class="input-element {{ input.type }}"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="{{ input.name }}"
              [placeholder]="input.placeholder"
              [autoResize]="true"
            ></textarea>
          </div>
          <div *ngSwitchCase="'multipleInputs'">
            <label class="input-text" for="text">{{ input.label }}</label>
            <div class="input-generator">
              <div
                class="p-inputgroup"
                *ngFor="
                  let objectiveControl of objectiveFormArray.controls;
                  index as i
                "
              >
                <span class="p-inputgroup-addon">{{ i + 1 }}</span>
                <input
                  type="text"
                  pInputText
                  [placeholder]="input.placeholder"
                  [formControl]="$any(objectiveControl)"
                />
                <p-button
                  icon="pi pi-times"
                  styleClass="p-button-danger"
                  (onClick)="removeObjective(i)"
                  *ngIf="!isModeRevision"
                />
              </div>
              <div class="generator-button">
                <p-button
                  label="Add Objective"
                  (onClick)="addObjective()"
                  icon="pi pi-plus"
                  *ngIf="!isModeRevision"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="table-input"
        *ngIf="section.isTable"
        formArrayName="stakeHolders"
      >
        <div class="headers">
          <span class="header" *ngFor="let header of section.inputHeaders">{{
            header.header
          }}</span>
        </div>
        <div
          class="inputs"
          *ngFor="
            let stakeHolderControl of stakeHoldersFormArray.controls;
            let index = index
          "
        >
          <div
            class="input"
            *ngFor="let input of section.inputs"
            [formGroupName]="index"
            [ngSwitch]="input.type"
          >
            <div *ngSwitchCase="'dropdown'">
              <p-dropdown
                [style]="{ width: '90%' }"
                *ngIf="input.options"
                [options]="input.options"
                [placeholder]="input.placeholder"
                formControlName="{{ input.name }}"
              ></p-dropdown>
            </div>
            <div *ngSwitchCase="'input'">
              <input
                type="text"
                pInputText
                [style]="{ width: '90%' }"
                [placeholder]="input.placeholder"
                formControlName="{{ input.name }}"
              />
            </div>
          </div>
        </div>

        <div class="generator-button">
          <p-button
            label="Add a Stakeholder"
            (onClick)="addStakeHolder()"
            icon="pi pi-plus"
            *ngIf="!isModeRevision"
          />
        </div>
      </div>
      <p-divider />
    </div>
    <div class="form-buttons">
      <p-button
        label="Cancel"
        (onClick)="onModalClosed(false)"
        styleClass="p-button-danger"
      ></p-button>
      <p-button
        label="Save"
        styleClass="p-button-success"
        type="submit"
        (onClick)="onModalClosed(true)"
      ></p-button>
    </div>
  </form>

  <aside class="aside">
    <a>Project Name</a>
    <a>Project Information</a>
    <a>Project Members</a>
    <a>Current Process</a>
  </aside>
</div>
<request-picklist
  [isVisible]="modalVisible"
  (modalIsOpen)="onModalClosed($event)"
/>
