.request-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap-md);
  font-size: var(--font-size-md);
  .form {
    padding: var(--padding);
    flex-grow: 1;

    .form-general {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 var(--padding);
      .left,
      .right {
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);
      }
    }

    .form-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--gap-xl);
      padding: 0 var(--padding);

      .section-title {
        .title {
          font-weight: var(--font-weight-semi-bold);
          text-align: left;
        }
      }

      .form-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-xl);

        .section-input > div {
          width: 100%;
          display: flex;
          align-items: start;
          justify-content: space-between;

          .input-text {
            font-size: var(--font-size-md);
          }

          .input-element,
          .input-generator {
            min-width: 70% !important;
            width: 70%;
          }

          .input-generator {
            display: flex;
            flex-direction: column;
            gap: var(--gap-sm);

            .generator-button {
              display: flex;
              justify-content: end;
            }
          }

          .textarea {
            padding: 10px 20px;
            resize: vertical;
          }
        }
      }
    }
  }

  .aside {
    max-width: 200px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);

    align-items: start;
    justify-content: start;
    overflow: hidden;
  }
}

.table-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  .headers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header {
      width: 25%;
    }
  }

  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .input {
      width: 25%;
      & > div > .p-dropdown {
        width: 90% !important;
      }
    }
  }
}
